<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="unknown-service"/>
    <springProperty scope="context" name="lokiUrl" source="app.loki.url" defaultValue="http://localhost:3100/loki/api/v1/push"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${lokiUrl}</url>
        </http>

        <!-- Loki4j 2.x correct layout -->
        <labels>
            application=${appName:-unknown-service}
            level=%level
            host=${HOSTNAME}
            traceId=%X{traceId:-}
        </labels>

        <message>
            <pattern>{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}","level":"%level","thread":"%thread","logger":"%logger{36}","message":"%msg","traceId":"%X{traceId:-}"}%n</pattern>
        </message>

        <batch>
            <maxItems>1000</maxItems>
            <timeoutMs>5000</timeoutMs>
        </batch>
    </appender>

    <appender name="ASYNC_LOKI" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LOKI"/>
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_LOKI"/>
    </root>
</configuration>